@model EntityLayer.Concrete.Todo
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE HTML>
<html>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <!-- main content start-->
        <div id="page-wrapper">
            <div class="main-page compose">
                

                <div class="col-md-8 compose-right widget-shadow">
                    @using (Html.BeginForm("Completed", "Todo", FormMethod.Post))
                    {

                        <div class="form-group">

                            @Html.DisplayFor(x => x.Contact.SenderMail)
                            <br /><br />

                            @Html.DisplayFor(x => x.Contact.RecevierMail)
                            <br /><br />

                            @Html.DisplayFor(x => x.Contact.Heading)
                            <br /><br />
                            @Html.DisplayFor(x => x.Contact.Contents)
                            <br /><br />

                            @Html.DisplayFor(x => x.Contact.ContactDate)
                            <br /><br />

                            @Html.DisplayFor(x => x.ContactId)
                            <br /><br />

                            <br /><br />



                        </div>
                    }
                </div>
                <div class="clearfix"> </div>


            </div>
        </div>
    </div>
</body>
</html>
