@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<User>
@{
    ViewBag.Title = "GetListUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{

    string checkStatus = "";
}
<body class="cbp-spmenu-push">

    <div class="main-content">
        <div id="page-wrapper">
            <div class="main-page">
                <a class="btn btn-success btn-sm" href="/User/UserAdd/">
                    <i class="fas fa-pencil-alt">
                    </i>
                    <h5>Yeni Kullanıcı Ekle</h5>
                </a>

                <a class="btn btn-primary btn-sm" href="/User/ActiveUserList/">
                    <i class="fas fa-pencil-alt">
                    </i>
                    <h5>Aktif Kullanıcılar</h5>
                </a>
                <a class="btn btn-primary btn-sm" href="/User/PasifUserList/">
                    <i class="fas fa-pencil-alt">
                    </i>
                    <h5>Pasif Kullanıcılar</h5>
                </a>
              
                <div class="elements  row">

                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 profile widget-shadow" style="margin-left:5px ;margin-bottom:5px">
                            <!--<div class="profile-left" style="margin-left:15px ;margin-bottom:15px">-->
                            @*<a href="" style="color:white ; font-size:18px"> <i class="fa fa-edit"> </i></a>*@
                            <!--</div>-->

                            <div class="profile-top">
                               

                                <img src="~/Images/userprofil.png" style="width:70px;height:70px" />
                                <h4>@item.UserName @item.UserSurname</h4>
                                <h5>@item.UserAbout</h5>
                            </div>
                            <div class="profile-text">
                                <div class="profile-row">
                                    @*<div class="profile-left">
                                <i class="fa fa-envelope profile-icon"></i>
                            </div>*@
                                    <div class="profile-right">
                                        <h4><i class="fa fa-envelope profile-icon"></i> @item.UserMail</h4>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="profile-row row-middle">

                                    <div class="profile-right">

                                        <b>Durum: </b>
                                        @if (item.UserStatus == true)
                                        {
                                            <i>Aktif Kullanıcı</i>

                                        }
                                        else
                                        {
                                            <i> Pasif Kullanıcı</i>
                                        }

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="profile-row">

                                    <div class="profile-right">
                                        <a class="btn btn-danger btn-sm" href="/User/UserStatus/@item.UserId">

                                            @if (item.UserStatus == true)
                                            {
                                                checkStatus = "Pasif Yap";

                                            }
                                            else
                                            {

                                                checkStatus = "Aktif Yap";
                                            }

                                            @checkStatus
                                        </a>

                                        <a class="btn btn-primary btn-sm" href="/User/AdminPageUserEdit/@item.UserId">

                                            Düzenle
                                        </a>
                                    </div>
                                    <div>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
            @Html.PagedListPager((IPagedList)Model, p => Url.Action("GetListUser", new { p }), new PagedListRenderOptions
{
LiElementClasses = new List<string>
{
   {"page-link"}
}
})
        </div>
    </div>
</body>