@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<div id="page-wrapper">
    <div class="main-page">
        <div class="forms">
            <div class=" form-grids row form-grids-right">
                <div class="widget-shadow " data-example-id="basic-forms">
                    <div class="form-title">
                        <h4 style="text-align:center">ŞİFRE DEĞİŞTİR</h4>
                    </div>
                    @using (Html.BeginForm("Changepassword", "Admin", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.AdminId, new { @class = "form-control" })
                        @Html.HiddenFor(x => x.AdminMail)

                        <div class="form-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Mevcut Şifre</label>
                                    <div class="col-sm-9">

                                        @Html.PasswordFor(x => x.AdminPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.AdminPassword, "", new { @style = "color: red " })
                                    </div>
                                </div>
                                <br />

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Yeni Şifre</label> <div class="col-sm-9">
                                        @Html.PasswordFor(x => x.AdminNewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.AdminNewPassword, "", new { @style = "color: red " })
                                    </div>
                                </div> <div class="form-group">

                                </div>
                                <br />
                                <br />
                                <div class="col-sm-offset-2">
                                    <br />
                                    <button type="submit" class="btn btn-default" id="btnUpdate">Güncelle</button>
                                    <br />
                                </div>
                              
                                <div class="rowspace">
                                    <div colspan="3" style="color:darkblue">
                                     
                                        @ViewBag.Message
                                    </div>
                                </div>

                            </form>
                            @*<script>
                                alert("Başarılı");
                            </script>
                            <script>
                                $('#btnUpdate').click(function () {
                                    swal("Güncellendi!", "Şifreniz Başarılı Bir Şekilde Değiştirildi!", "success");
                                });
                            </script>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
