@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">
            <div class="panel-body widget-shadow">
                <h4 style="text-align:center"><b>Şifre Güncelleme</b></h4>
                @using (Html.BeginForm("Changepassword", "Admin", FormMethod.Post))
                {
                    <table class="center">
                        <tr>
                            
                            <td>
                                @Html.HiddenFor(x => x.AdminId, new { @class = "form-control" })
                                @Html.HiddenFor(x => x.AdminMail)

                            </td>
                            @*<td>@Html.ValidationMessageFor(x => x.AdminMail)</td>*@
                        </tr>
                        <tr>
                            <td>Mevcut Şifre: </td>
                            <td>
                                @Html.PasswordFor(x => x.AdminPassword)
                            </td>
                            <td>@Html.ValidationMessageFor(x => x.AdminPassword, "", new { @style = "color: red " })</td>
                        </tr>
                        <tr class="rowspace">
                            <td><br />Yeni Şİfre:  </td>

                            <td>
                                <br />
                                @Html.PasswordFor(x => x.AdminNewPassword)
                                <br />
                            </td>
                            
                            <td>@Html.ValidationMessageFor(x => x.AdminNewPassword, "", new { @style = "color: red " })</td>
                        </tr>

                        <tr class="rowspace">

                            @*<td colspan="3" id="button">
                                <br />
                                <input type="submit" value="Güncelle" />
                                <br />
                            </td>*@
                            <td style="margin-bottom:15px;position:relative;margin-left:460px">
                                <br />
                                <button type="submit" value="update" class="btn btn-success">
                                    Güncelle
                                </button>
                            </td>
                        </tr>

                        <tr class="rowspace">
                           
                        <td colspan="3" style="color:darkblue">
                            <br />
                            @ViewBag.Message
                        </td>
                        </tr>
                    </table>

                }
            </div>
        </div>
    </div>
</div>