@using EntityLayer.Concrete
@model List<Contact>

@{
    ViewBag.Title = "Trash";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE HTML>
<html>

<body class="cbp-spmenu-push">

    <div class="main-content">
        <!-- main content start-->

        <div id="page-wrapper">
            <h3 class="title1"> </h3>
            <div class="main-page compose">
                @Html.Action("ContactPartial", "Contact")
                @*@Html.AntiForgeryToken()*@
                <div class="col-md-12 compose-right widget-shadow" style="background-color: #6164C1; text-align: center;padding-bottom:50px">
                    <div class="panel-default">


                        <div class="inbox-page">

                            <div class="panel-heading" style="color:white;font-size:20px">
                                Çöp Kutusu
                            </div>
                            <div class="inbox-row widget-shadow">
                                @foreach (var item in Model)
                                {
                                    <div class="mail "><a href="/Contact/ContactDelete/@item.ContactId" style="color:black"><i class="fa fa fa-trash-o"></i></a> </div>
                                    <div class="mail "> <a href="/Todo/AddTodoContact/@item.ContactId" style="color:black"><i class="fa fa fa-futbol-o">Todo Ekle </i></a></div>
                                    <div class="mail mail-name"><h6>@item.SenderMail</h6></div>
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <div class="mail">
                                            <a href="/Contact/GetInboxMessageDetails/@item.ContactId">
                                                <p>@item.Heading </p>
                                            </a>
                                        </div>
                                    </a>
                                    <div class="mail-right">
                                        <div class="dropdown">
                                            <a href="#" data-toggle="dropdown" aria-expanded="false">
                                                <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                                            </a>
                                            <ul class="dropdown-menu float-right">
                                                <li>
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapsefour">
                                                        <i class="fa fa-reply mail-icon"></i>
                                                        Cevapla
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <i class="fa fa-download mail-icon"></i>
                                                        Arşivle
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="font-red" title="">
                                                        <i class="fa fa-trash-o mail-icon"></i>
                                                        Sil
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mail-right"><p>@(((DateTime)item.ContactDate).ToString("dd-MMMM-yyyy"))</p></div>

                                    <div class="clearfix"> </div>
                                }
                                @*<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">

                                        <div class="mail-body">
                                            <p>@item.Contents</p>
                                            <form>
                                                <input type="text" placeholder="Cevap yaz..." required="">
                                                <input type="submit" value="Gönder">
                                            </form>
                                        </div>
                                    </div>*@


                            </div>


                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
</html>